.checkout-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.374);
}
.checkout-container > form {
    backdrop-filter: blur(10px);
}
.checkout-container::after {
    content: "";
    position: absolute;
    height: 200px;
    width: 200px;
    background: linear-gradient(90deg, rgba(125,85,38,1) 1%, rgba(92,45,154,1) 58%, rgba(37,74,185,1) 89%, rgba(15,86,198,1) 93%);
    border-radius: 50%;
    z-index: -1;
    bottom: 70%;
    left: 30%;
}
.checkout-container::before {
    content: "";
    position: absolute;
    height: 180px;
    width: 180px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(114,130,164,1) 40%, rgba(124,95,167,1) 76%, rgba(133,75,168,1) 100%);
    border-radius: 50%;
    z-index: -1;
    top: 85%;
    right: 30%;
}

.checkout-form {
    display: flex;
    flex-direction: column;
}

.checkout-form h2 {
    margin-bottom: 10px;
}

.checkout-form label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.checkout-form input[type="text"],
.checkout-form input[type="radio"] {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkout-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #3399cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.checkout-form button:hover {
    background-color: #287bb5;
}

@media (max-width: 600px) {
    .checkout-container {
        padding: 10px;
    }

    .checkout-form label {
        font-size: 14px;
    }

    .checkout-form input[type="text"],
    .checkout-form button {
        padding: 6px;
    }
}
