.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 40px;
    padding: 50px 40px;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(5px);
}
.formContainer::after {
    content: "";
    position: absolute;
    height: 200px;
    width: 200px;
    background: linear-gradient(90deg, rgba(125,85,38,1) 1%, rgba(92,45,154,1) 58%, rgba(37,74,185,1) 89%, rgba(15,86,198,1) 93%);
    border-radius: 50%;
    z-index: -1;
    bottom: 70%;
    left: 30%;
}
.formContainer::before {
    content: "";
    position: absolute;
    height: 180px;
    width: 180px;
    /* background-color: rgb(222, 38, 38); */
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(114,130,164,1) 40%, rgba(124,95,167,1) 76%, rgba(133,75,168,1) 100%);
    border-radius: 50%;
    z-index: -1;
    top: 70%;
    right: 30%;
}
.formContainer > form > h3 {
    text-align: center;
}
.formContainer > form {
    background-color: rgba(0, 0, 0, 0.374);
    padding: 50px 50px;
    box-shadow: 5px 5px 20px black;
    border-radius: 20px;
    backdrop-filter: blur(600px);
}
.formContainer > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formContainer > form > .inputs {
    margin: 20px 30px;
}
.formContainer > form > .inputs > .username > input,
.formContainer > form > .inputs > .email > input,
.formContainer > form > .inputs > .password > input,
.formContainer > form > .inputs > .cpassword > input{
    margin: 10px 0px;
    padding: 5px 7px;
    background-color: rgba(33, 33, 106, 0.363);
    outline: none;
    color: aliceblue;
}
.formContainer > form > .labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.formContainer > form > .btn > button{
    padding: 10px 12px;
    margin: 10px 13px;
    font-size: 1.2em;
}